*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --black: #031923;
    --yellow: #e5bb33;
    --blue: #205b75;
    --white: #FFFFFF;
    --text-color: var(--black);
}

 /* Добавленные стили для шрифта Montserrat */
 h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 66px;
    text-align: left;
    vertical-align: top;
}

/* Добавленные стили для шрифта Open Sans */
.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 38px;
    line-height: 46px;
    text-align: left;
    vertical-align: top;
    color: #205B75;
}


/* Добавленные стили для шрифта Open Sans в текстовом стиле */
.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
}

/* Добавленные стили для шрифта Open Sans в интерфейсном стиле */
.interface {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
}

/* Добавленные стили для шрифта Montserrat в заголовке H2 */
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: left;
    vertical-align: top;
}

/* Добавленные стили для шрифта Montserrat в заголовке H3 */
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    vertical-align: top;
}



/* Добавленные стили для шрифта Open Sans в кнопках и ссылках */
.button,
a.nav-link,
button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 100%;
}

/* Добавленные стили для шрифта Montserrat в заголовке H1 */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 110%;
}

/* Добавленные стили для подзаголовка */
.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 38px;
    line-height: 120%;
}

/* Добавленные стили для основного текста */
.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 150%;
}

/* Добавленные стили для шрифта Montserrat в заголовке H2 */
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

body {

    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    line-height: 150%;
    
}

body {

    color: var(--black);
}

footer {
    width: 100%;
}



footer {
    color: var(--white);
    background-color: var(--blue);
}


/* Добавленные стили для элементов меню */
.main-nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
}


.main-nav a:hover {
    color: #205B75;
}

button {
    padding: 6px 10px 10px 10px;
    border: 1px solid #205B75; /* Окантовка кнопки */
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px;
    text-transform: lowercase; /* Применяем нижний регистр для текста кнопки */
}

button:hover {
    background-color: #205B75; /* Изменение фона при наведении */
    color: #FFFFFF; /* Изменение цвета текста при наведении */
    border-color: #FFFFFF; /* Изменение цвета окантовки при наведении */
}



.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}


.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}


.skill-level {
    margin: 4px 0 20px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--blue);
    border-radius: 16px;
}


.skill-level div {
    height: 14px;
    background-color: var(--yellow);
    border-radius: 8px;
}


.skill-item {
    text-transform: lowercase;
}


.skill-item_html {
    background-image: url("../img/html.svg");
}


.skill-item_css {
    background-image: url("../img/css.svg");
}


.skill-item_cpp {
    background-image: url("../img/Icon_C++.svg");
}


.skill-item_python {
    background-image: url("../img/python.svg");
}

.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .social li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  .social-link {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #205B75;
    border-radius: 50%;
  }
  
  .social-link:hover {
    background-color: #E5BB33;
  }
  
  .social-link span.visually-hidden {
    display: none;
  }

  .social-link {
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
  }
  
  

.social-link_github {
    background-image: url('../img/github.svg');
}

.social-link_telegram {
    background-image: url('../img/1telegram.svg');
}

.social-link_vk {
    background-image: url('../img/vk.svg');
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul.contacts {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul.contacts li {
    margin-bottom: 10px; /* Добавляем отступ снизу для разделения контактов */
  }
  
  ul.contacts li a {
    display: block;
    text-decoration: none;
    padding-left: 42px; /* Отступ слева для иконки */
  }
  
  ul.contacts li a .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: left center; /* Положение иконки слева */
  }
  
  .contact-link_phone .icon {
    background-image: url("../img/phone_icon.svg"); /* Замените на путь к изображению иконки телефона */
  }
  
  .contact-link_mail .icon {
    background-image: url("../img/email_icon.svg"); /* Замените на путь к изображению иконки почты */
  }

  ul.contacts li a {
    color: black;
  }

  ul.contacts li a:hover {
    color: #205B75;
  }
  

  
  
    /* Добавленные стили */
    .user_photo {
        border-radius: 55%;
    }

.main-header {
    display: flex;
    padding-top: 60px;
    gap: 40px;
    align-items: center;
}


